#footer{
    padding: 100px;
    background-color: blue;
    text-align: center;
    font-size: 50px;
    color: white;
}
.maindata{
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("bankpic.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header{
    background-color: lightslategray;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    color:black;
}
#myform{
    margin: auto;
    width: 500px;
    font-size: 20px;
    border: 1px solid black;
    padding: 20px;
    background-color:wheat;
    box-shadow: 0px 0px 9px;
    border-radius: 30px;

}

#myformdata{
    width: 50%;
    margin: auto;
    font-size: 22px;
    border: 1px solid black;
    box-shadow: 0px 0px 9px;
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 30px;
    /* background-image: url("pic1.jpg"); */

}
#dash{
    background-color: lightcyan;
    padding: 30px;
    display: flex;
}

#silder{
    margin-top: 50px;
}

#card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    background-color: white;
    padding: 90px;
}
#card #card1{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#card img{
    padding-left: 80px;
}

#about{
    display: flex;
    justify-content: space-around;
    background-color: white;
}
#data{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#in input{
    padding: 20px;
    width: 300px;
    font-size: 20px;
    border-radius: 40px;

    
}
#in button{
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    border-radius: 40px;
    background-color:aqua;

}
#aboutpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 160px;
}
#aboutpage h1{
    color: tomato;
}
#aboutpage1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 90px;
    background-color: white;
    padding-bottom: 80px;
}
#data1{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#logoimg{
    display: flex;
}

#transcation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 800px;
    margin: 2rem auto;
    margin-left: 20%;
    animation: fadeIn 1s ease-in-out forwards;

    h4 {
        margin-bottom: 0.5rem;
        color: #333;
        animation: slideIn 1s ease-in-out forwards;
    }

    input {
        width: 400px;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 16px;
        margin: auto;
        margin-bottom: 20px;
        transition: border-color 0.3s ease;
        animation: inputAnimation 0.5s ease forwards,
        inputAnimation2 0.7s ease forwards,
        inputAnimation3 0.9s ease forwards;
    }

    button {
        align-self: center;
        padding: 0.5rem 1.5rem;
        background-color: #0069d9;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        animation: buttonAnimation 0.5s ease forwards;

        &:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }
    }   
}


#reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 450px;
    margin: auto;
   

    animation: fadeIn 1s ease-in-out forwards;

    h4 {
        margin-bottom: 0.5rem;
        color: #333;
        animation: slideIn 1s ease-in-out forwards;
    }

    input {
        width: 400px;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 16px;
        margin: auto;
        margin-bottom: 20px;
        transition: border-color 0.3s ease;
        animation: inputAnimation 0.5s ease forwards,
        inputAnimation2 0.7s ease forwards,
        inputAnimation3 0.9s ease forwards;
    }

    button {
        align-self: center;
        padding: 0.5rem 1.5rem;
        background-color: #0069d9;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        animation: buttonAnimation 0.5s ease forwards;

        &:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }
    }
}
